@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url(/font/Poppins-Regular.ttf) format("truetype");
  font-display: fallback;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
  p {
    @apply mb-2;
  }
  body {
    @apply leading-relaxed font-[poppins] text-xs min-h-full text-light;
  }
  pre {
    @apply font-[poppins];
  }
  nav {
    @apply bg-primary;
  }
  table {
    @apply border-collapse border-spacing-2 text-left w-full table-auto;
  }
  table tr:hover {
    @apply bg-[#99656b];
  }
  table tr {
    @apply border-b border-solid border-gray-300;
  }

  table tr.currentUser .table-action {
    @apply bg-primary bg-opacity-[0.01];
  }
  table th {
    @apply font-bold bg-primary py-2 px-3;
  }
  table td {
    @apply px-3 py-2 text-white;
  }
  input,
  select {
    @apply h-[35px] bg-primary border border-solid border-primary p-2 rounded-lg w-full truncate bg-transparent outline-none;
  }
  select {
    @apply text-xs h-[35px];
  }
  /* select option {
    @apply py-5 appearance-none;
  } */
  textarea {
    @apply block border border-solid border-gray-300 p-2 rounded-lg w-full h-28 bg-transparent outline-none;
  }
  label {
    @apply text-xs text-primary transform -translate-y-6 -translate-x-1 absolute left-3 top-4 px-1  z-10 isolate;
  }
  label:after {
    @apply content-[''] w-[97%] h-[2.5px] absolute left-px top-[7.2px] bg-gray-500 -z-10;
  }
  .moodal label:after {
    @apply content-[''] w-[97%] h-[2.5px] absolute left-px top-[7.2px] bg-white -z-10;
  }
  input:disabled,
  select:disabled,
  textarea:disabled,
  :disabled {
    @apply bg-gray-100 border-gray-200 cursor-not-allowed hover:bg-gray-100 hover:text-inherit hover:border-gray-200;
  }
  input::file-selector-button {
    @apply mr-5 border-0 bg-primary disabled:bg-gray-200 rounded-md text-white cursor-pointer px-1 py-0;
  }
  input:focus,
  select:focus,
  textarea:focus {
    @apply border border-solid border-primary outline-0;
  }
  input.account__password {
    @apply !border-0 !border-b !rounded-none focus:!border-t-0 focus:!border-r-0 focus:!border-l-0 px-0 py-0 h-[unset];
  }
  .modal__wrapper,
  .backdrop:last-of-type {
    @apply last-of-type:bg-dark/30 text-primary;
  }
}

@layer components {
  .wrapper {
    @apply relative min-h-[calc(100dvh-60px)] print:!p-4 pt-[0.5rem] ml-48 px-6 transition-all ease-in duration-200 overflow-x-hidden bg-gray-500;
  }
  .btn-primary {
    @apply flex items-center justify-center text-sm text-primary gap-1 py-1 rounded-md hover:underline decoration-2 duration-300 ease-in;
  }
  .btn-primary:disabled {
    @apply opacity-50 hover:bg-white hover:text-primary hover:border-gray-300;
  }
  .btn-action-table {
    @apply cursor-pointer text-gray-500 text-base align-middle !py-1 !px-2.5 rounded-md hover:bg-gray-300 duration-200 ease-in;
  }
  .btn-action-table svg {
    @apply h-3 w-3;
  }
  .btn-modal-submit {
    @apply flex items-center justify-center text-white gap-2 px-3 py-1.5 bg-[#65000b] rounded-md border-[#65000b] border hover:bg-white hover:text-primary hover:border-gray-300 duration-300 ease-in w-full;
  }
  .btn-modal-submit:disabled {
    @apply opacity-50 hover:bg-primary hover:text-white hover:border-primary;
  }
  .btn-modal-cancel {
    @apply flex items-center justify-center text-dark gap-2 px-3 py-1.5 bg-gray-200 rounded-md border-gray-300 border w-full;
  }
  .btn-modal-cancel:disabled {
    @apply opacity-50 hover:bg-white hover:text-dark hover:border-gray-300;
  }
  .modal {
    @apply bg-dark/0 transition-all opacity-0;
  }
  .modal > .animate-slideUp {
    @apply translate-y-3 transition-all;
  }
  .modal.show {
    @apply bg-dark/50 opacity-100;
  }
  .modal.show > .animate-slideUp {
    @apply translate-y-0;
  }
  .loading-bar::after {
    @apply content-[''] absolute top-0 left-0 w-[180%] h-full  bg-gradient-to-r from-transparent via-[#eeeeee] to-transparent  animate-loading;
  }
  .toggleMenu span {
    @apply transition-all duration-[.5s];
  }

  .toggleMenu.active span:nth-child(1) {
    @apply rotate-45 translate-x-[4px] translate-y-[7px];
  }

  .toggleMenu.active span:nth-child(2) {
    @apply opacity-0;
  }

  .toggleMenu.active span:nth-child(3) {
    @apply -rotate-45 translate-x-[4px] -translate-y-[9px];
  }

  .actions {
    @apply flex items-center justify-end gap-x-3;
  }
  .forms_wrapper {
    @apply flex flex-col justify-between h-[calc(100dvh-60px)]
    overflow-y-auto overflow-x-hidden;
  }
  .modal__header {
    @apply relative my-4 text-primary;
  }
}

@layer utilities {
  li.active {
    @apply relative bg-secondary/20;
  }
  ul li a.submenu-active {
    @apply pointer-events-none !border-accent text-accent;
  }
  span.error-show {
    @apply text-[11px] absolute right-1 -bottom-5 text-red-500 italic z-50;
  }
  input.error-show,
  select.error-show,
  textarea.error-show {
    @apply border border-red-500 animate-shake;
  }
  label.error-show {
    @apply text-red-500;
  }
  .tooltip-action-table {
    @apply relative p-1 bg-transparent leading-none z-20;
  }

  .tooltip-action-table::after {
    @apply content-[attr(data-tooltip)] absolute -translate-x-2/4 bottom-full -top-[24px] bg-dark/80 text-white p-1 rounded-sm h-fit leading-none z-20 whitespace-nowrap text-center opacity-0 text-[10px] pointer-events-none transition ease-linear scale-0 duration-75 left-1/2;
  }

  .tooltip-action-table:hover::after {
    @apply opacity-100 scale-100;
  }
  .modal__center .modal__body {
    scrollbar-gutter: unset;
    padding-right: 0px;
  }
  .modal__main {
    @apply !pr-0;
  }
  .modal_container,
  .modal__action {
    @apply pr-4;
  }

  .burger__button {
    @apply p-1 rounded-md block cursor-pointer hover:bg-gray-100;
  }
  .burger__button span {
    @apply block rounded-md h-[3px] w-5 bg-primary my-[3px] transition ease-in-out duration-200;
  }
  .burger__button.active span:first-child {
    @apply transform rotate-45 translate-y-[6px];
  }
  .burger__button.active span:nth-child(2) {
    @apply opacity-0;
  }
  .burger__button.active span:last-child {
    @apply transform -rotate-45 -translate-y-[6px];
  }
  .accordions {
    @apply grid grid-cols-2 items-center gap-3 border-solid border-b-gray-100 border-b cursor-pointer hover:bg-gray-50 py-1 mb-3;
  }
  .isShow {
    @apply hidden;
  }

  .dropdown.active {
    @apply opacity-100 scale-100 visible ease-in-out duration-200 transition-all;
  }

  .dropdown.inactive {
    @apply opacity-0 scale-90 visible ease-in-out duration-200 transition-all pointer-events-none;
  }

  .child-tab {
    position: relative;
  }

  .child-tab::after {
    @apply content-[''] w-full h-[3px] bg-accent absolute left-0 -bottom-2 hidden;
  }
  .child-tab.active {
    @apply opacity-100;
  }

  .child-tab::after.active {
    @apply block;
  }
}
